*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans';
}

.btn-cross{
width: 113px !important;
margin-right: 65px !important;
background-color: #ff306a !important;
font-size: 20px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.modal-footer{
    background-color: #e7e3e3;
}