
*{
  font-family: 'Open Sans';
}
.intro {
    background-image: url("assets/img/mc\ background.png");
    /* height: 100vh; */
  }
  .logo{
font-size: 24px;
color: #070D59;
display: inline-block !important;
position: relative;
bottom: 2px;
}
.company{
font-size: 15px;
color: #070D59;
letter-spacing: 0.6px; 
}
.company2{
  font-size: 14px;
  color: #070D59;
  letter-spacing: 0.6px; 
  }
.welpart{
    font-size: 12px;
    color: #070D59;
}
/* .blue-shirts{
    margin-right: -4.5px;
} */
.login{
    font-size: 26px; 
    color: #070d59;
}
.copyrights{
    font-size: 12px;
}
.logo2{
    font-size: 18px;
    display: inline-block !important;
    position: relative;
}
.text-end{
font-size: 12px;
font-weight: bold;
 }
 .has-float-label .form-control:placeholder-shown:not(:focus)+label {
    font-size: 12px !important;
    opacity: .5 !important;
    top: 1em !important;
  }
  
  .has-float-label .form-control-sm:placeholder-shown:not(:focus)+label {
    font-size: 12px !important;
    opacity: .5 !important;
    top: 0.6em !important;
  }
  .size{
    padding: 0.25rem 0.5rem;
    font-size:10px;
    
    }
  .has-float-label label {
    width: max-content !important;
  }

  /* Dashboard CSS and Planner CSS */

  .logo{
    text-transform: uppercase;
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 18px;
  }

  ::selection { background-color: #C3CFE2; }

  .nav-css {
    z-index: 5;
    height: 50px;
  }

  .card{
    overflow: hidden !important;
  }

  .breadcrumbs{
    color: #b2b3bd;
  }

  .text-gray {
    color: #aaa;
  }

  .text-primary{
      color:#7579e7 !important;
  }
  
  .crights{
    font-size: 12px;
  }

  .fixed-bottom{
    z-index: -1;
    font-size: 14px;
  }

  .barchart{
    width: 60%;
    margin: auto;
  }

  .charts{
    height: 150px;
  }

  .fa-home, .fa-greater-than{
    margin-right: 10px;
    color: rgb(194, 196, 197);
    font-size: 20px;
  }

  @media (max-width: 1500px) {
    .card{
      overflow-y: scroll !important;
    }
    }
  
    /* BirdView CSS  */

    .country{
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      color: #2C2E34;
      margin-left: 5px;
    }